html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* background: url("assets/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    text-align: center;
    background: #292929;
    font-family: 'Ubuntu', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    width: 50%;
}

h1 {
    color: #00897b;
    font-size: 3.5rem;
}

#joke {
    font-family: 'PT Mono', monospace;
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    font-weight: 400;
}

button {
    padding: 15px 50px;
    background-color: #00897b;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
}
